<h1>REVIEW REQUEST</h1>

<p>Your <a href="#">Javascript Fridge Magnet</a> voucher code is:</p>
<h3><%= @email.coupon.coupon_code %></h3>

<p>To claim the <strong>90% discount</strong> and get these for 99p instead of £10.00, simply use your voucher code when you checkout on <a href="http://www.amazon.co.uk/JavaScript-Fridge-Magnets-Over-700/dp/B00OIRBE74/ref=pd_rhf_gw_p_img_1">Amazon.co.uk</a>. Look for the <strong>Gift cards &amp; promotional codes</strong> field on the <i>Review your order</i> page.</p>

<p>We welcome all feedback, if you like the product we'd really appreciate it if you could <a href="http://www.amazon.co.uk/review/create-review/ref=cm_cr_dp_no_rvw_e?ie=UTF8&asin=B00OIRBE74&channel=detail-glance&nodeID=11052681&store=kitchen">leave us a review on Amazon.co.uk</a>. As a growing business, we know how scarce time can be, so we especially appreciate your time and input.</p>

<p>To submit your review, please follow the steps below:</p>
<ol>
	<li>Log into your account on Amazon.co.uk, click "Your Account" and then click "Your Orders"</li>
	<li>Find your order and click "Write a product review"</li>
	<li>Write your review - it's that easy! If you're feeling adventurous you could even shoot a video or add pictures to make your experience more visible, it's complete;y up to you</li>
</ol> 

<p>If there was something you are unhappy with, not only would we be devasted to hear it but we'd like to put it right so just reply to this email and let us know what the problem is.</p>

<p>We're always looking for ways to improve, so thanks again for your business, support and feedback.</p>

<p>Warmest regards,<br>Mike</p>