<p>Your <a href="#">Javascript Fridge Magnet</a> voucher code is:</p>
<h3><%= @email.coupon.coupon_code %></h3>
<p>Use your coupon during checkout on Amazon.co.uk to get these for only £1.50 instead of £10.99.</p>
<p>Don't forget to leave a review, we value all feedback.</p>